@model DemoApp.Web.Models.Products.ProductsViewModel

@{
    ViewData["Title"] = "Products";
}

<h1>Products</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Create New</a>
</p>
<table class="table table-bordered table-striped">
    <thead>
    <tr>
        <th>
            ID
        </th>
        <th>
            Name
        </th>
        <th>
            Amount
        </th>
        <th>
            Price
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var product in Model.Products)
    {
        <tr>
            <td>
                @product.Id
            </td>
            <td>
                @product.Name
            </td>
            <td>
                @product.Amount
            </td>
            <td>
                @product.Price CZK
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id= product.Id}) |
                @Html.ActionLink("Delete", "Delete", new { id= product.Id })
            </td>
        </tr>
    }
    </tbody>
</table>