@model DemoApp.Web.Models.Users.UsersViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
    <tr>
        <th>
            ID
        </th>
        <th>
            Name
        </th>
        <th>
            Username
        </th>
        <th>
            Password
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var user in Model.Users)
    {
        <tr>
            <td>
                @user.Id
            </td>
            <td>
                @user.Name
            </td>
            <td>
                @user.Username
            </td>
            <td>
                *********
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new {id = user.Id}) |
                @Html.ActionLink("Details", "Details", new {id = user.Id}) |
                @Html.ActionLink("Delete", "Delete", new {id = user.Id})
            </td>
        </tr>
    }
    </tbody>
</table>